html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: verdana, sans-serif;
    background-color: palegoldenrod;
}

.home .home-link {
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 16px;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.home :hover {
    background-color: cadetblue;
    color: black;
}

.section-1 {
    display: inline-block;
    margin-left: 520px;
}

.dish-description {
    display: block;
    /* width: 45%;*/
}

.dish-img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.dish-heading {
    font-size: 40px;
}

.section-2 {
    display: inline-block;

    margin-left: 150px;
    /* border: 2px solid black; */
}

.dish-description,
.dish-ingredients,
.dish-steps {
    font-size: 16px;
}


.dish-steps,
.dish-ingredients,
.dish-description {
    display: inline-block;
    /* margin: 0 auto; */
    border: 1px solid black;

    /* both the boxes are taking 45% of the available space */
    width: 45%;

    /* aligns the element from the top */
    vertical-align: top;

    background-color: brown;
    color: white;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 1em 0.5em;
}

/* greek-pasta-salad.html */






/* lasagna.html */





/* paneer-tikka.html */